//  COLORS //
@use "fonts" as *;

$white-color: #fff;
$accent-color: #4cb291;
$warning-color: #B3624D;
$disable-color: #575757;
$green-color: #3A886F;
$green-color-hover: #2C6654;
$green-color-focus: #1D4438;

//  FONTS //
$default-font: "Amethysta", sans-serif;