//  COLORS //
@use "fonts" as *;

$white: #fff;
$accent-color: #4cb291;
$warning-color: #B3624D;
$disable-color: #575757;

$button-color: #3A886F;
$button-color-hover: #2C6654;
$button-color-focus: #1D4438;

$link-color: white;
$link-color-hover: #2C6654;
$link-color-focus: #1D4438;


//  FONTS //
$default-font: "Amethysta", sans-serif;