//  COLORS //
@use "fonts" as *;

$white-color: #fff;
$gray-color: #ccc;
$accent-color: #4cb291;
$info-color: #5936f4;
$warning-color: #B3624D;
$danger-color: #F44336;
$disable-color: #575757;
$green-color: #3A886F;
$green-color-hover: #2C6654;
$green-color-focus: #1D4438;
$danger-background-color: #f1c3c0;
$info-background-color: #c8bff1;


//  FONTS //
$default-font: "Amethysta", sans-serif;
$bold-font: 700;
$font-size-header: 32px;